.new-home  .new-home-right .img img{
  width: 100%;
    height: 75px;
    object-fit: cover;
}
.new-home .item-large  img{
  height: 465px;
  object-fit: cover;
}
@media only screen and (max-width: 768px){
  .new-home .item-large img{
    height: auto;
  }
}