@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
body{
  font-family: 'Roboto', sans-serif;
  /* font-family: arial; */
    font-size: 15px;
    line-height: 23px;
    background: #e9edf0;
}

html{
    scroll-behavior: smooth;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
}


.owl-prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    }
 .owl-next{

    position: absolute;

    top: 50%;
    right: 0;

    transform: translateY(-50%);
    }
    .slider-home  .owl-prev{
      left: 20px;
    }
    .slider-home  .owl-next{
      right: 20px;
    }
 .owl-nav >div{
  background-color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #333;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #1e3d37;

  padding: 0;
    }

    img {
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    .support-online {
        position: fixed;
        z-index: 999;
        left: 15px;
        bottom: 30px;
        top: auto !important
      }

      .support-online a {
        position: relative;
        margin: 20px 10px;
        text-align: left;
        width: 40px;
        height: 40px
      }

      .support-online i {
        width: 40px;
        height: 40px;
        background: #43a1f3;
        color: #fff;
        border-radius: 100%;
        font-size: 20px;
        text-align: center;
        line-height: 1.9;
        position: relative;
        z-index: 999
      }

      .support-online a {
        display: block
      }

      .support-online a span {
        border-radius: 2px;
        text-align: center;
        background: #fb2644;
        padding: 9px;
        display: none;
        width: 180px;
        margin-left: 10px;
        position: absolute;
        color: #ffffff;
        z-index: 999;
        top: 0px;
        left: 40px;
        transition: all 0.2s ease-in-out 0s;
        -moz-animation: headerAnimation 0.7s 1;
        -webkit-animation: headerAnimation 0.7s 1;
        -o-animation: headerAnimation 0.7s 1;
        animation: headerAnimation 0.7s 1
      }

      .support-online a:hover span {
        display: block
      }

      .support-online a span::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent #fb2644 transparent transparent;
        position: absolute;
        left: -10px;
        top: 10px
      }

      .kenit-alo-circle-fill {
        width: 60px;
        height: 60px;
        top: -10px;
        position: absolute;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-transition: all .1s;
        -moz-transition: all .1s;
        -o-transition: all .1s;
        transition: all .1s;
        background-color: rgba(0, 175, 242, 0.5);
        opacity: .75;
        right: -10px
      }

      .kenit-alo-circle {
        width: 50px;
        height: 50px;
        top: -5px;
        right: -5px;
        position: absolute;
        background-color: transparent;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid rgba(30, 30, 30, 0.4);
        opacity: .1;
        border-color: #0089B9;
        opacity: .5
      }

      .support-online .btn-support {
        cursor: pointer
      }

      @-webkit-keyframes pulse {
        0% {
          -webkit-transform: scale(1.1);
          transform: scale(1.1)
        }

        50% {
          -webkit-transform: scale(0.8);
          transform: scale(0.8)
        }

        100% {
          -webkit-transform: scale(1.1);
          transform: scale(1.1)
        }
      }

      @keyframes pulse {
        0% {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1)
        }

        50% {
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8)
        }

        100% {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1)
        }
      }
      #scrollUp {
        background: #fff;
        color: #333;
        border: 1px solid #333;
        bottom: 40px;
        right: 40px;
        border-radius: 100px;
        height: 47px;
        width: 47px;
        font-size: 18px;
        text-align: center;
        line-height: 45px;
        box-shadow: 0 0 15px 0px rgb(50 50 50 / 20%);
        transition: 0.3s;
        display: none;
        position: fixed;
        bottom: 62px;
        right: 10px;
        cursor: pointer;
        z-index: 99999;
      }
      #scrollUp:hover {
        background-color: #333;
        color: #fff;
      }



  .btn-active-view {
    background-image: linear-gradient(to right,#85b348,#92cc2e,#85b348);
    color: #fff;
    padding: 7px 20px;
    border-radius: 20px;
}
.hover-zoom:hover img{
  transform: scale(1.05);
}
.hover-zoom{
  overflow: hidden;
}
.item-product  .img img{
  height: 270px;
  object-fit: cover;
}

/* css review */
.add-review textarea{
  width: 100%;
  height: 150px;
  font-size: 15px;
  margin-top: 10px;
  border:1px solid #ddd;
  margin-bottom: 10px;
}
.add-review  input[type=text]{
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  font-size: 15px;
}
.add-review .write-review__button {
  padding: 0;
  padding: 0 36px;

}
.aside-category ul li::before{
  content: '';
  position: absolute;
  top:8px;
  left: 0;
  width: 6px;
  height: 6px;
  background: #8d3e20;
}
aside .section-title{
  padding: 10px 4px;
  background-size: 60% 100%;
}
.map iframe{
  width: 100%;
  height: 500px;
}
.section-title{
  background-size: 35% 54%;
}



header .nav-item form input[type=text]{
  border: 1px solid #249045;
}
header .nav-item form input[type=text]::-webkit-input-placeholder { /* Edge */
  color:#249045;
}

header .nav-item form input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #249045;
}

header .nav-item form input[type=text]::placeholder {
  color: #249045;
}
.why-section .item .img img{
  border-radius: 50%;
}
.oder-home select{
  width: 100%;
  height: 40px;
  padding: 0;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  border:1px solid #ddd;

}
.oder-home p{
  width: 100%;
}
.sort-1 {
  float: right;
}
.sort-1 select{

    width: 250px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #249045;
  background: none;
    margin-left: 10px;
    appearance: auto!important;

}
.category-home .text  span{
  background: #f1ec3c;
  border: 1px solid #249045;
  color: #249045;
  font-weight: bold;
}
.item-product  .box-pro-buy {
  z-index: 9;
  position: relative;
  width: 80%;
  margin: 10px auto 0;
}
.item-product  .box-pro-buy .btn {
  text-transform: none;
  font-size: 14px;
  background: #1E3D37;
  border-color: #1E3D37;
  border-radius: 40px;
  padding: 7px 10px;
  cursor: pointer;
  border-width: 1px;
  font-weight: 500;
  -webkit-box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
  overflow: hidden;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}
.item-product  .box-pro-buy .btn span {
  margin-left: -20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-product  .box-pro-buy .btn .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  bottom: 0;
  background: #fff;
  border-radius: 50%;
  color: #1E3D37;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 38px;
}
.item-product  .box-pro-buy .btn:hover {
  background: #2f5f56;
  border-color: #2f5f56;
}
.item-product  .box-pro-buy .btn:hover .icon {
  background: #2f5f56;
  color: #fff;
}
.item-product  .box-pro-buy .btn:hover span {
  margin-left: -10px;
}
.btn {
  border-radius: 0px;
  text-transform: uppercase;
  background: #1E3D37;
  border-color: #1E3D37;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  overflow: hidden; }
  .btn:hover {
    color: #fff;
    background: #0d1b18;
    border-color: #0d1b18; }
    .btn:hover:after {
      -webkit-animation: shine 0.75s cubic-bezier(0.01, 0.56, 1, 1);
      animation: shine 0.75s cubic-bezier(0.01, 0.56, 1, 1); }
  .btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.25), transparent); }




    .tab-detail button.active{
      background-color: #1e3d37;
      color: #fff;
    }
    .main-new .content-new  .item  .img img{
      height: 270px;
    }


    .service-internet  .slider-internet   .owl-prev{
      left: -52px;
  }
  .service-internet  .slider-internet   .owl-next{
      right: -52px;
  }
  .service-internet  .slider-internet   .owl-nav >div{
      width: 40px;
      height: 40px;
      line-height: 40px;
  }
  .content-data-package  p{
    margin-bottom: 10px;
  }

  .main-data-detail .slider-services  .owl-prev{
    left: 0px;
}
.main-data-detail .slider-services  .owl-next{
    right: 0px;
}
.main-data-detail .slider-services  .owl-nav >div{
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.high-package   .slider-high-package    .owl-prev{
  left: -52px;
}
.high-package   .slider-high-package    .owl-next{
  right: -52px;
}
.high-package   .slider-high-package    .owl-nav >div{
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.list-internet {
  position: relative;
}
.list-internet::before{
  background: url('../img/bg-combo-it-1.png') 0 0 no-repeat;
  background-size: cover;
  content: "";
  height: 535px;
  left: 0;
  position: absolute;
  top: 0;
  width: 412px;
}
.list-internet:after {
  background: url('../img/bg-combo-it-2.png') 0 0 no-repeat;
  background-size: cover;
  content: "";
  height: 535px;
  position: absolute;
  right: 0;
  top: 12px;
  width: 338px;
}

.list-internet   .slider-high-package     .owl-prev{
  left: -52px;
}
.list-internet   .slider-high-package    .owl-next{
  right: -52px;
}
.list-internet   .slider-high-package    .owl-nav >div{
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.main-internet-detail   .slider-services  .owl-prev{
  left: 0;
}
.main-internet-detail .slider-services  .owl-next{
  right: 0;
}
.main-internet-detail   .slider-services  .owl-nav >div{
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.slider-high-package-2   .owl-prev{
  left: -52px;
}
.slider-high-package-2    .owl-next{
  right: -52px;
}
.slider-high-package-2    .owl-nav >div{
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.content-question  ul.tabs li{
  padding: 10px 20px;
}


/* Accordion
================================================== */

.acc__card {
  position: relative;
}
.acc p{
  margin-bottom: 10px;
}
.content-product .readmore:hover{
  color: #000;
}
.acc__title {
  background: #fff;
  color: #212121;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  position: relative;
  text-align: left;
  font-size: 13px;
  text-transform: uppercase;
  /* font-family: 'Lexend', sans-serif;
  font-weight: 400; */
}
.main-menu ul li a{
  font-weight: bold;
}
.sidebar{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.sidebar .item-sb  h3{
  font-weight: bold;
}
.sidebar .acc__card  ul li a{
  font-size: 13px;
}
/* .acc__title::after {
  width: 5px;
  height: 5px;
  border-right: 1px solid #4a6e78;
  border-bottom: 1px solid #4a6e78;
  position: absolute;
  right: 10px;
  content: " ";
  top: 17px;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}
.acc__title.active::after {
  transform: rotate(-135deg);
  transition: all 0.2s ease-in-out;
} */

.acc__panel {
  margin: 0;
  display: none;

  text-align: left;

  border-top: 0;
}
.content-content p{
  margin-bottom: 10px;
}
#primary-nav.mobile li a{
  padding:10px!important;
}



.owl-dots .owl-dot{
  width: 8px;
  height: 8px;
  background: #ddd;
  margin:3px;
  display: inline-block;
  float: left;
  border-radius: 50%;
}
.owl-dots .owl-dot.active{
  background: #4a7036;
}
.owl-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}


ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #000;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

ul.tabs li.current{
border-bottom: 1px solid #1ead09;
}

.tab-content{
  display: none;
  padding: 15px;
  border: 1px solid #eee;
}

.tab-content.current{
  display: inherit;
}





@media only screen and (max-width: 1199px) {
  .footer-bottom {
    padding: 45px 0 0 0;
  }
}
.footer-bottom .copyright-area {
  position: relative;
}
.footer-bottom .copyright-area:before {
  content: "";
  height: 1px;
  width: 347px;
  background-color: #e1e1e1;
  position: absolute;
  bottom: 11px;
  left: 0;
}
.map-f iframe{
  width: 100%;
  height: 175px;
}
@media only screen and (max-width: 1199px) {
  .footer-bottom .copyright-area:before {
    width: 247px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-bottom .copyright-area:before {
    width: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-bottom .copyright-area:before {
    width: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .footer-bottom .copyright-area:before {
    display: none;
  }
}
.footer-bottom .copyright-area:after {
  content: "";
  height: 1px;
  width: 347px;
  background-color: #e1e1e1;
  position: absolute;
  bottom: 11px;
  right: 0;
}
@media only screen and (max-width: 1199px) {
  .footer-bottom .copyright-area:after {
    width: 247px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-bottom .copyright-area:after {
    width: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-bottom .copyright-area:after {
    width: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .footer-bottom .copyright-area:after {
    display: none;
  }
}
.footer-bottom .copyright-area p {
  text-align: center;
  margin-bottom: 0;
}
@media only screen and (max-width: 575px) {
  .footer-bottom .copyright-area p {
    text-align: left;
  }
}
.footer-bottom .copyright-area .copyright-img1 {
  position: absolute;
  bottom: 1px;
  left: 340px;
}
@media only screen and (max-width: 1199px) {
  .footer-bottom .copyright-area .copyright-img1 {
    left: 240px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-bottom .copyright-area .copyright-img1 {
    left: 115px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-bottom .copyright-area .copyright-img1 {
    left: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .footer-bottom .copyright-area .copyright-img1 {
    display: none;
  }
}
.footer-bottom .copyright-area .copyright-img2 {
  position: absolute;
  bottom: 1px;
  right: 340px;
}
@media only screen and (max-width: 1199px) {
  .footer-bottom .copyright-area .copyright-img2 {
    right: 240px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-bottom .copyright-area .copyright-img2 {
    right: 115px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-bottom .copyright-area .copyright-img2 {
    right: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .footer-bottom .copyright-area .copyright-img2 {
    display: none;
  }
}
.footer-area2 {
  position: relative;
}
@media only screen and (max-width: 1439px) {
  .footer-area2 {
    padding: 40px 0 44px 0;
  }
}
.background-shape68 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 35%;
  z-index: -10;
}
@media only screen and (max-width: 1199px) {
  .background-shape68 {
    display: none;
  }
}
.background-footer {
  background-color: #fff;
  padding: 60px 0 55px;
  box-shadow: 0 25px 27px 0 rgba(154, 154, 154, 0.34);
  margin-top: -185px;
  margin-left: calc((100% - 1140px) / 2 - 85px);
  margin-right: calc((100% - 1140px) / 2 - 85px);
}

/* Scrollbar Styling */
/* .scrollbar
{



  overflow-y: scroll;

}





 #style-1::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
   border-radius: 10px;
   background-color: #F5F5F5;
 }

 #style-1::-webkit-scrollbar
 {
   width: 4px;
   background-color: #F5F5F5;
 }

 #style-1::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
   background-color: #7e7a7a;
 } */

 .read-more-content{
  display: none;
  padding-top: 22px;
}
.read-more{
  display: inline-block;
  margin-top: 8px;
}
 .box-content  ul{
  list-style: inherit;
  padding-left: 20px;
 }
 .content-content  ul{
  list-style: inherit;
  padding-left: 20px;
 }
 .footer  ul li a:hover{
  color: #008848;
 }
 /* .main-menu ul li a{
  font-family: 'Lexend', sans-serif;
  text-transform: capitalize;
 } */
 .main-logo{

  width: 182px;


 }

 .main-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
 }
 .main-search{
  margin: auto;

 }
 .footer  form button{
  display: none;
 }
 .logo-footer img{
    width: 120px;
    height: 70px;
    margin-left: 6px;
    object-fit: contain;
 }

 .logo-footer-1 img{
    width: 30px;
    height: 30px;
    object-fit: contain;
 }
 .new-home .readmore:hover{
  color: #333;
 }

 .top-header{
 padding:15px 0;
 }
 .top-header  .width-1{
  width: 20%;
 }
 .top-header  .width-2{
  width: 55%;
 }
.main-search .item-1{
  width: 60%;
}
.main-search .item-2{
  width: 40%;
}
.main-search  form input[type=text]{
  border-radius: 20px;
}

.main-search  form button {
  top: 11px;
  left: 14px;
  color: #999;
}
.main-search .item-1 form input[type=text]{
  padding-left: 34px;
}























 @media only screen and (max-width: 1024px){
  .sidebar{
    width: 192px;
  }

  .mt-3{
    margin: 10px 0 10px 0;
  }
}


@media only screen and (max-width: 768px){
  .item-product .img img{
    height: 200px;
  }
  .main-logo img{
    width: 80px!important;
  }
  .banner{
    margin-bottom: 0;
  }
  .customer-support .item  .img img{
    height: 195px!important;
  }
  header{
    display: none!important;
  }
  header.header-mobile{
    display: block!important;
  }
  .header-mobile .logo img {
    width: 130px;
}




}
@media only screen and (max-width: 736px){

.owl-next{
  right: 0;
}
.owl-prev{
  left: 0;
}
ul.tabs li{
  padding: 4px 5px;
}
ul.tabs{
  margin-top: 10px;
}

.new-home-section .item .img img{
  height: 220px;
}
.social-footer {
  margin-bottom: 15px;
}
.acc__card{
  margin-left: 0;
  margin-right: 0;
}


  .main-checkout .grid .col-span-12{
    width: 100%!important;
    margin-left: 0!important;
  }
.main-checkout{
  padding-top: 20px;
}
.main-checkout .additional-info textarea{
  width: 100%;
}
.main-checkout .additional-info-wrap{
  width: 100%!important;
}
.main-checkout  #myForm .flex.border-t a{
  width: auto!important;
}
.main-checkout .grid .col-span-12>div.bg-Pimary_color{
  padding-top: 20px!important;
}
}

@media only screen and (max-width: 676px){
  .content-product  .item .img img{
    height: 160px!important;
  }

  .header-table{
    display: block;
  }

  .header-table-cart-price{
    margin: 10px 0;
    border: solid 1px silver;
    display: block;
  }

  .header-cart-price{
    width: 100%!important;
  }

  .mt-3{
    width: 80%!important;

    height: 100%;
  }

  .title-checkout{
    display: block!important;
    width: 100%!important;
  }

  .group-btn{
    width: 100%!important;
  }

  .body-checkout{
    display: block!important;
  }
  .aside-information{
    width: 100%!important;
  }
  .main-information-1 #form-password .grid.grid-cols-3 {
    display: inline-block;
    width: 100%;
  }
  .main-information-1 #form-password .grid.grid-cols-3 >div{
    width: 100%;
    margin-bottom: 15px;
  }
  .main-information-1 #form-password  .grid.grid-cols-2{
    margin-left: 0!important;
  }
}

